body{
    background-image: url(https://s3.amazonaws.com/noupe/2009/10/pattern-34.jpg);
    text-align: center;
}

#title{
    background-color:gold;
    border: 2px solid brown;
    border-radius: 25%;
    width: 150px;
    margin:auto;
}

.para1{
    background-color:gold;
    border: 2px solid brown;
    border-radius: 25%;
    width: 750px;
    height: 150px;
    padding-top:30px;
    font-size: 20px;
    margin:auto;
    margin-top: 20px;
}

.list  {
    text-align: left;
    font-size: 20px;
    background-color: gold;
    display: inline-block;
    border-radius: 25%;
    width: 570px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border : 2px solid brown;
    height: 400px;

}

.list1 {
    text-align: left;
    font-size: 20px;
    background-color: gold;
    display: inline-block;
    border-radius: 25%;
    width: 650px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border : 2px solid brown;
    height: 400px;

}

#hwork{
    text-align: center;
}

.list :hover {
     text-decoration: underline;
     font-family: cursive;
     background-color: goldenrod;
}

.list1 :hover {
    text-decoration: underline;
    font-family: cursive;
    background-color: goldenrod;
}

.para1:hover{
    text-decoration: underline;
    font-family: cursive;
    background-color: goldenrod;
    font-size: 20px;
    width: 1000px;
}

#title:hover{
    text-decoration: underline;
    font-family: cursive;
    background-color: goldenrod;
    width: 250px;
}